<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Technology View: Adverse Events Detector Smart Sensor</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Technology View: Adverse Events Detector Smart Sensor</b>
			(<span class="i18n-viewpoint-layered"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_layered" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/13585cd2-f5d6-43e8-887b-2f107bd7d5a9.png" alt="Technology View: Adverse Events Detector Smart Sensor" usemap="#13585cd2-f5d6-43e8-887b-2f107bd7d5a9map">
			<map name="13585cd2-f5d6-43e8-887b-2f107bd7d5a9map">
								<area shape="rect" coords="338,151,458,206" href="../elements/42ba3507-e69c-4a3b-882e-21823cc77f3f.html"  target="element">
								<area shape="rect" coords="616,259,759,314" href="../elements/c8d8283b-a5da-469c-977b-dbf1a33841b8.html"  target="element">
								<area shape="rect" coords="639,379,759,434" href="../elements/0d83924f-75b7-4c2b-a97c-6bbe9fb479b1.html"  target="element">
								<area shape="rect" coords="470,379,604,434" href="../elements/bc3dead3-5e6c-4942-8271-7d92917f8b0d.html"  target="element">
								<area shape="rect" coords="322,313,442,368" href="../elements/0db62a00-d29c-49ff-a2d9-dd26287bc975.html"  target="element">
								<area shape="rect" coords="171,379,291,434" href="../elements/fd2b294f-fd91-40e4-b7aa-c80a6a5724ca.html"  target="element">
								<area shape="rect" coords="477,463,597,518" href="../elements/aaf0a475-09fd-4117-87ab-ce6591d246b6.html"  target="element">
								<area shape="rect" coords="639,463,759,518" href="../elements/affbcdb0-25b2-42dc-82ce-9a807e3d5ea3.html"  target="element">
								<area shape="rect" coords="327,235,507,290" href="../elements/649c0914-5aa3-4625-99c4-7119eb3114a9.html"  target="element">
								<area shape="rect" coords="806,379,926,434" href="../elements/0bfdbcb4-17e8-4ab5-b66b-0feebb3decc5.html"  target="element">
								<area shape="rect" coords="946,166,1066,221" href="../elements/b0fc4847-466b-4410-aca7-58d1d58b84b2.html"  target="element">
								<area shape="rect" coords="616,151,748,206" href="../elements/bc290164-9318-464e-b34f-d4285137ae50.html"  target="element">
								<area shape="rect" coords="938,379,1058,434" href="../elements/26c45d5e-3787-463e-add0-79afcf92243f.html"  target="element">
								<area shape="rect" coords="1082,379,1202,434" href="../elements/c61d922d-f972-483f-b58b-39b9c1247d84.html"  target="element">
								<area shape="rect" coords="34,379,154,434" href="../elements/d97a90d8-256c-465e-8767-9c7cee00ccae.html"  target="element">
								<area shape="rect" coords="1201,166,1321,221" href="../elements/a00c88fd-60de-4c16-a05e-1ecee3a2dee4.html"  target="element">
								<area shape="rect" coords="1354,166,1474,221" href="../elements/d8def969-d37b-4879-9d34-345e68e85e60.html"  target="element">
								<area shape="rect" coords="1332,282,1452,337" href="../elements/9314f99e-276f-4184-bf82-37566083def5.html"  target="element">
								<area shape="rect" coords="1378,379,1498,434" href="../elements/b89f8d92-c5d0-47df-a0d6-01f8000ced75.html"  target="element">

						<area shape="rect" coords="10,106,1559,551" href="../elements/186b923c-5321-4191-9940-3e3ae3198c6a.html"  target="element">
						<area shape="rect" coords="190,670,310,725" href="../elements/a4a23e6a-c7cf-4d97-91e2-454f863faa67.html"  target="element">
						<area shape="rect" coords="1606,166,1726,221" href="../elements/7089a306-d663-48e9-8bc8-cd98b131ef40.html"  target="element">
						<area shape="rect" coords="1776,166,1896,221" href="../elements/2b9de131-3b8f-4d3f-adb7-20df6c048df6.html"  target="element">
						<area shape="rect" coords="1776,269,1896,324" href="../elements/663eb129-698b-452d-9e09-34ebba08155e.html"  target="element">
						<area shape="rect" coords="1788,401,1908,456" href="../elements/8e2b76ee-0e66-45e9-bf69-b0973136e639.html"  target="element">
						<area shape="rect" coords="1390,598,1510,653" href="../elements/326ed541-abb1-49e4-a6d9-9289f6548699.html"  target="element">
						<area shape="rect" coords="1294,670,1414,725" href="../elements/9a8f7c64-0463-49e3-a2c2-5da074037a5a.html"  target="element">
						<area shape="rect" coords="1788,670,1908,725" href="../elements/dc6d40cf-d3e8-47bf-9197-505213c74db4.html"  target="element">
						<area shape="rect" coords="358,10,478,65" href="../elements/cfeb0977-70c8-4015-be89-f61e7013f9ff.html"  target="element">
						<area shape="rect" coords="994,586,1114,641" href="../elements/1131bf95-145c-4632-a262-ba3dd7daa99f.html"  target="element">
						<area shape="rect" coords="1762,754,1882,809" href="../elements/e4c9bfca-2c86-4fdd-9cc1-2bde93604218.html"  target="element">
						<area shape="rect" coords="1690,862,1810,917" href="../elements/a3868287-844e-440a-83da-6a790d171f36.html"  target="element">
						<area shape="rect" coords="1822,862,1942,917" href="../elements/091cd7d6-de4c-4022-a3a0-af23502f923b.html"  target="element">
						<area shape="rect" coords="1834,970,1954,1025" href="../elements/ceac9608-f30c-4430-bed7-6bb8a6588a67.html"  target="element">
						<area shape="rect" coords="34,670,154,725" href="../elements/42c8f23b-793f-409b-b121-bb96b4cb3027.html"  target="element">
						<area shape="rect" coords="124,839,244,894" href="../elements/9567e838-dc68-4d75-adc9-a07406000ba0.html"  target="element">
						<area shape="rect" coords="1953,82,2073,137" href="../elements/30b6d689-89d2-4a81-babc-8fe2c2899446.html"  target="element">
						<area shape="rect" coords="298,934,418,989" href="../elements/599c36ec-d408-40cc-b735-bdf29fea6971.html"  target="element">
						<area shape="rect" coords="298,1006,418,1061" href="../elements/a660bec5-3da9-41e7-a8d7-1813f18dfa48.html"  target="element">
						<area shape="rect" coords="298,1066,418,1121" href="../elements/774217f4-b21d-4627-95c7-987f24b3da65.html"  target="element">
						<area shape="rect" coords="158,1030,278,1085" href="../elements/2e3bd859-cc0a-4a53-afdc-ab6548b023c0.html"  target="element">
						<area shape="rect" coords="34,1030,154,1085" href="../elements/4dc2a0fa-ed0d-4794-83c9-94fd58528af1.html"  target="element">
						<area shape="rect" coords="508,978,628,1033" href="../elements/359f8924-8347-4fa9-824d-28d17a73943e.html"  target="element">
						<area shape="rect" coords="657,912,777,967" href="../elements/1f951931-3b95-4702-9e6b-cd03259079e2.html"  target="element">
						<area shape="rect" coords="508,1042,628,1097" href="../elements/28f85886-ac37-4c09-944c-689789a5a73d.html"  target="element">
						<area shape="rect" coords="682,998,802,1053" href="../elements/16502b23-363d-43e0-a411-708a1b5652b9.html"  target="element">
						<area shape="rect" coords="886,898,1006,953" href="../elements/c62d4ab4-4b79-4c9c-8374-d186ed118710.html"  target="element">
						<area shape="rect" coords="886,839,1006,894" href="../elements/874e3150-74f3-4260-b647-f713fa54c3c4.html"  target="element">
						<area shape="rect" coords="886,964,1006,1019" href="../elements/c0934b8c-ad64-448f-9045-c1258a973b84.html"  target="element">
						<area shape="rect" coords="508,910,628,965" href="../elements/371ea2cb-9c5d-48b9-863c-356c179e1d89.html"  target="element">
						<area shape="rect" coords="508,785,628,840" href="../elements/d3d2c8cf-7a6f-41c6-9f6e-faff57421cc3.html"  target="element">
						<area shape="rect" coords="886,778,1006,833" href="../elements/6c0bcba8-dcb0-4a65-a1e6-001c74c9ded2.html"  target="element">
						<area shape="rect" coords="508,1114,628,1169" href="../elements/75059964-a114-4f80-ba4b-9dd3f6c51dbe.html"  target="element">
						<area shape="rect" coords="707,1092,827,1147" href="../elements/9509e09d-54ea-4c64-b1d9-e2b8f7906460.html"  target="element">
						<area shape="rect" coords="907,1093,1027,1148" href="../elements/c11ea5b9-01a9-467a-b736-2927b98e13e3.html"  target="element">
						<area shape="rect" coords="1976,554,2096,609" href="../elements/2960a459-63b2-48d2-90bf-e40c215187f8.html"  target="element">
						<area shape="rect" coords="1080,851,1200,906" href="../elements/e3bebef5-d71d-4f6c-ab2e-f520ea2c3161.html"  target="element">
						<area shape="rect" coords="1342,954,1462,1009" href="../elements/86306d44-86e3-4b83-99f2-c80e4ee32211.html"  target="element">
						<area shape="rect" coords="1223,1078,1343,1133" href="../elements/a9225f80-7d47-4927-92f7-120f44516b46.html"  target="element">
						<area shape="rect" coords="1210,954,1330,1009" href="../elements/f4cf807a-b365-4f3f-939f-c2885cda4d5b.html"  target="element">
						<area shape="rect" coords="1080,954,1200,1009" href="../elements/84638a4c-4b8d-4b1c-aeae-c7436410809e.html"  target="element">
						<area shape="rect" coords="1448,867,1568,922" href="../elements/428500df-cab8-44c1-be8b-44441f3f7e2e.html"  target="element">
						<area shape="rect" coords="1018,1018,1138,1073" href="../elements/c22a5748-b0cc-446d-97c4-613f0f90fc26.html"  target="element">
						<area shape="rect" coords="190,586,310,641" href="../elements/a49dff28-19a7-410b-be72-106bfcc55263.html"  target="element">
						<area shape="rect" coords="34,580,154,635" href="../elements/e126a447-4882-4bb2-8d01-7a7ed0adf3c8.html"  target="element">
						<area shape="rect" coords="1162,718,1282,773" href="../elements/28446d29-1783-4ed5-bbd9-538913072613.html"  target="element">
						<area shape="rect" coords="1978,754,2098,809" href="../elements/8e48653e-644c-4d60-83e2-9d92dcfb1cc5.html"  target="element">
						<area shape="rect" coords="1998,982,2118,1037" href="../elements/fea6cdb6-b977-480a-a435-61082877e0af.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">The diagram illustrates the technology elements that would be required for an adverse events detector device</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/186b923c-5321-4191-9940-3e3ae3198c6a.html" target="element"> Adverse Events Detector Node </a> </td><td class="i18n-elementtype-Node"></td></tr>
												<tr><td> <a href="../elements/42ba3507-e69c-4a3b-882e-21823cc77f3f.html" target="element"> Adverse Event Detector Service </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/c8d8283b-a5da-469c-977b-dbf1a33841b8.html" target="element"> Configuration </a> </td><td class="i18n-elementtype-TechnologyProcess"></td></tr>
												<tr><td> <a href="../elements/0d83924f-75b7-4c2b-a97c-6bbe9fb479b1.html" target="element"> wifi </a> </td><td class="i18n-elementtype-TechnologyFunction"></td></tr>
												<tr><td> <a href="../elements/bc3dead3-5e6c-4942-8271-7d92917f8b0d.html" target="element"> Communication </a> </td><td class="i18n-elementtype-TechnologyFunction"></td></tr>
												<tr><td> <a href="../elements/0db62a00-d29c-49ff-a2d9-dd26287bc975.html" target="element"> Adverse Event Monitor </a> </td><td class="i18n-elementtype-TechnologyFunction"></td></tr>
												<tr><td> <a href="../elements/fd2b294f-fd91-40e4-b7aa-c80a6a5724ca.html" target="element"> Smoke Sensor Interface </a> </td><td class="i18n-elementtype-TechnologyInterface"></td></tr>
												<tr><td> <a href="../elements/aaf0a475-09fd-4117-87ab-ce6591d246b6.html" target="element"> TCP/IP </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
												<tr><td> <a href="../elements/affbcdb0-25b2-42dc-82ce-9a807e3d5ea3.html" target="element"> 802.11 </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
												<tr><td> <a href="../elements/649c0914-5aa3-4625-99c4-7119eb3114a9.html" target="element"> Event Monitoring </a> </td><td class="i18n-elementtype-TechnologyProcess"></td></tr>
												<tr><td> <a href="../elements/0bfdbcb4-17e8-4ab5-b66b-0feebb3decc5.html" target="element"> Power Monitoring </a> </td><td class="i18n-elementtype-TechnologyFunction"></td></tr>
												<tr><td> <a href="../elements/b0fc4847-466b-4410-aca7-58d1d58b84b2.html" target="element"> Device Security Service </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/bc290164-9318-464e-b34f-d4285137ae50.html" target="element"> Configuration Service </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/26c45d5e-3787-463e-add0-79afcf92243f.html" target="element"> Device Security Function </a> </td><td class="i18n-elementtype-TechnologyFunction"></td></tr>
												<tr><td> <a href="../elements/c61d922d-f972-483f-b58b-39b9c1247d84.html" target="element"> Device Security Monitoring Function </a> </td><td class="i18n-elementtype-TechnologyFunction"></td></tr>
												<tr><td> <a href="../elements/d97a90d8-256c-465e-8767-9c7cee00ccae.html" target="element"> Temperature Sensor Interface </a> </td><td class="i18n-elementtype-TechnologyInterface"></td></tr>
												<tr><td> <a href="../elements/a00c88fd-60de-4c16-a05e-1ecee3a2dee4.html" target="element"> Sensor Data Persistence Service </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/d8def969-d37b-4879-9d34-345e68e85e60.html" target="element"> Power Management Service </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/9314f99e-276f-4184-bf82-37566083def5.html" target="element"> Power Management Process </a> </td><td class="i18n-elementtype-TechnologyProcess"></td></tr>
												<tr><td> <a href="../elements/b89f8d92-c5d0-47df-a0d6-01f8000ced75.html" target="element"> Power Monitoring Function </a> </td><td class="i18n-elementtype-TechnologyFunction"></td></tr>
										
										<tr><td> <a href="../elements/a4a23e6a-c7cf-4d97-91e2-454f863faa67.html" target="element"> Smoke Detection Event </a> </td><td class="i18n-elementtype-TechnologyEvent"></td></tr>
										<tr><td> <a href="../elements/7089a306-d663-48e9-8bc8-cd98b131ef40.html" target="element"> TCP/IP </a> </td><td class="i18n-elementtype-Path"></td></tr>
										<tr><td> <a href="../elements/2b9de131-3b8f-4d3f-adb7-20df6c048df6.html" target="element"> Router Node </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/663eb129-698b-452d-9e09-34ebba08155e.html" target="element"> Router </a> </td><td class="i18n-elementtype-Device"></td></tr>
										<tr><td> <a href="../elements/8e2b76ee-0e66-45e9-bf69-b0973136e639.html" target="element"> Internet </a> </td><td class="i18n-elementtype-CommunicationNetwork"></td></tr>
										<tr><td> <a href="../elements/326ed541-abb1-49e4-a6d9-9289f6548699.html" target="element"> Electricity Supply </a> </td><td class="i18n-elementtype-Path"></td></tr>
										<tr><td> <a href="../elements/9a8f7c64-0463-49e3-a2c2-5da074037a5a.html" target="element"> Sensor Data </a> </td><td class="i18n-elementtype-Artifact"></td></tr>
										<tr><td> <a href="../elements/dc6d40cf-d3e8-47bf-9197-505213c74db4.html" target="element"> Adverse Event Detector Node </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/cfeb0977-70c8-4015-be89-f61e7013f9ff.html" target="element"> Cladding Panel </a> </td><td class="i18n-elementtype-Location"></td></tr>
										<tr><td> <a href="../elements/1131bf95-145c-4632-a262-ba3dd7daa99f.html" target="element"> Security Event </a> </td><td class="i18n-elementtype-TechnologyEvent"></td></tr>
										<tr><td> <a href="../elements/e4c9bfca-2c86-4fdd-9cc1-2bde93604218.html" target="element"> Security Service </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
										<tr><td> <a href="../elements/a3868287-844e-440a-83da-6a790d171f36.html" target="element"> Security Monitoring Function (copy) </a> </td><td class="i18n-elementtype-TechnologyFunction"></td></tr>
										<tr><td> <a href="../elements/091cd7d6-de4c-4022-a3a0-af23502f923b.html" target="element"> Device Management Service </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
										<tr><td> <a href="../elements/ceac9608-f30c-4430-bed7-6bb8a6588a67.html" target="element"> Configure Device Security Function </a> </td><td class="i18n-elementtype-TechnologyFunction"></td></tr>
										<tr><td> <a href="../elements/42c8f23b-793f-409b-b121-bb96b4cb3027.html" target="element"> Temperature Detection Event </a> </td><td class="i18n-elementtype-TechnologyEvent"></td></tr>
										<tr><td> <a href="../elements/9567e838-dc68-4d75-adc9-a07406000ba0.html" target="element"> Smart Sensor Principle </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/30b6d689-89d2-4a81-babc-8fe2c2899446.html" target="element"> Data Flow Cost </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
										<tr><td> <a href="../elements/599c36ec-d408-40cc-b735-bdf29fea6971.html" target="element"> Buffer data </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/a660bec5-3da9-41e7-a8d7-1813f18dfa48.html" target="element"> Flexible retry </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/774217f4-b21d-4627-95c7-987f24b3da65.html" target="element"> Discover alternate data delivery channels </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/2e3bd859-cc0a-4a53-afdc-ab6548b023c0.html" target="element"> Reduce network burden </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/4dc2a0fa-ed0d-4794-83c9-94fd58528af1.html" target="element"> Manage latency </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/359f8924-8347-4fa9-824d-28d17a73943e.html" target="element"> Compress data </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/1f951931-3b95-4702-9e6b-cd03259079e2.html" target="element"> Manage Contention </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/28f85886-ac37-4c09-944c-689789a5a73d.html" target="element"> Data Aggregation </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/16502b23-363d-43e0-a411-708a1b5652b9.html" target="element"> Manage volume to value </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/c62d4ab4-4b79-4c9c-8374-d186ed118710.html" target="element"> machine to machine traffic </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/874e3150-74f3-4260-b647-f713fa54c3c4.html" target="element"> Move connectivity to the edge </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/c0934b8c-ad64-448f-9045-c1258a973b84.html" target="element"> Scaled Address Management </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/371ea2cb-9c5d-48b9-863c-356c179e1d89.html" target="element"> Remote storage governance </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/d3d2c8cf-7a6f-41c6-9f6e-faff57421cc3.html" target="element">  Distributed mini-data centers </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/6c0bcba8-dcb0-4a65-a1e6-001c74c9ded2.html" target="element"> Distributed computing </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/75059964-a114-4f80-ba4b-9dd3f6c51dbe.html" target="element"> Analytics at the edge </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/9509e09d-54ea-4c64-b1d9-e2b8f7906460.html" target="element"> application layer on the router and integrates a container with logic </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/c11ea5b9-01a9-467a-b736-2927b98e13e3.html" target="element"> real-time decision making. </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/2960a459-63b2-48d2-90bf-e40c215187f8.html" target="element"> IoT application architecture </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/e3bebef5-d71d-4f6c-ab2e-f520ea2c3161.html" target="element"> Remote Configuration </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/86306d44-86e3-4b83-99f2-c80e4ee32211.html" target="element"> Malware - malicious packets to TCP port 37215 </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
										<tr><td> <a href="../elements/a9225f80-7d47-4927-92f7-120f44516b46.html" target="element"> TR-064 broadband protocol for remote configuration and administration of internet-connected devices </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/f4cf807a-b365-4f3f-939f-c2885cda4d5b.html" target="element"> Universal Plug and Play (UPnP) standard </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/84638a4c-4b8d-4b1c-aeae-c7436410809e.html" target="element"> Zigbee </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/428500df-cab8-44c1-be8b-44441f3f7e2e.html" target="element"> Operational Autonomy </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/c22a5748-b0cc-446d-97c4-613f0f90fc26.html" target="element"> Z-Wave </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/a49dff28-19a7-410b-be72-106bfcc55263.html" target="element"> Smoke Detector </a> </td><td class="i18n-elementtype-Device"></td></tr>
										<tr><td> <a href="../elements/e126a447-4882-4bb2-8d01-7a7ed0adf3c8.html" target="element"> Temperature Sensor </a> </td><td class="i18n-elementtype-Device"></td></tr>
										<tr><td> <a href="../elements/28446d29-1783-4ed5-bbd9-538913072613.html" target="element"> Security Monitoring Data </a> </td><td class="i18n-elementtype-Artifact"></td></tr>
										<tr><td> <a href="../elements/8e48653e-644c-4d60-83e2-9d92dcfb1cc5.html" target="element"> Sensor Monitoring Service </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
										<tr><td> <a href="../elements/fea6cdb6-b977-480a-a435-61082877e0af.html" target="element"> Confugure Events Detector Device </a> </td><td class="i18n-elementtype-TechnologyFunction"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>