<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Technology View: Solar Smart Sensor</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Technology View: Solar Smart Sensor</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/9ef1fccd-cfd2-4c62-8947-ed203af826f7.png" alt="Technology View: Solar Smart Sensor" usemap="#9ef1fccd-cfd2-4c62-8947-ed203af826f7map">
			<map name="9ef1fccd-cfd2-4c62-8947-ed203af826f7map">
						<area shape="rect" coords="515,146,635,201" href="../elements/186b923c-5321-4191-9940-3e3ae3198c6a.html"  target="element">
						<area shape="rect" coords="310,146,430,201" href="../elements/326ed541-abb1-49e4-a6d9-9289f6548699.html"  target="element">
						<area shape="rect" coords="466,286,586,341" href="../elements/cfeb0977-70c8-4015-be89-f61e7013f9ff.html"  target="element">
						<area shape="rect" coords="10,146,251,287" href="../elements/709b5bee-ceb6-4a7b-b8bd-2e4359f9c761.html"  target="element">
						<area shape="rect" coords="82,10,202,65" href="../elements/fd23b6de-ac41-4ad8-9859-b6b91ac2105f.html"  target="element">
						<area shape="rect" coords="82,370,202,425" href="../elements/d859921f-7d03-4849-b36d-34fc1b69703e.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">The diagram illustrates the use of solar power to provide power to the Smart Sensor.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/186b923c-5321-4191-9940-3e3ae3198c6a.html" target="element"> Adverse Events Detector Node </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/326ed541-abb1-49e4-a6d9-9289f6548699.html" target="element"> Electricity Supply </a> </td><td class="i18n-elementtype-Path"></td></tr>
										<tr><td> <a href="../elements/cfeb0977-70c8-4015-be89-f61e7013f9ff.html" target="element"> Cladding Panel </a> </td><td class="i18n-elementtype-Location"></td></tr>
										<tr><td> <a href="../elements/709b5bee-ceb6-4a7b-b8bd-2e4359f9c761.html" target="element"> Solar Smart Sensor Node </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/fd23b6de-ac41-4ad8-9859-b6b91ac2105f.html" target="element"> Solar Panel </a> </td><td class="i18n-elementtype-Device"></td></tr>
										<tr><td> <a href="../elements/d859921f-7d03-4849-b36d-34fc1b69703e.html" target="element"> Electrical Storage Device </a> </td><td class="i18n-elementtype-Device"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>